<div class="content">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="main-color">
            <span>Angular Housing Calculator</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="flex-container">
        <div class="form-wrapper">
            <app-validation-form [countries]="countries" (userPostModel)="userFormOutput($event)"></app-validation-form>
            <div class="card-container">
                <div class="card card-small" (click)="postForm()" tabindex="0">
                    <span>Post</span>
                </div>
            </div>
            <app-dynamic-slider [sliderInputData]="apartmentPriceSlider" (outputSum)="sliderOutputPrice($event)">
            </app-dynamic-slider>
            <app-dynamic-slider [sliderInputData]="downpaymentSlider" (outputSum)="sliderOutputDownPayment($event)">
            </app-dynamic-slider>
            <app-dynamic-slider [sliderInputData]="interestSlider" (outputSum)="sliderOutputInterest($event)">
            </app-dynamic-slider>
            <app-dynamic-slider [sliderInputData]="housingPriceSlider" (outputSum)="sliderOutputAvgift($event)">
            </app-dynamic-slider>
            <div>
                <p>Ränteavdrag</p>
                <mat-slide-toggle (change)="slideChange($event)"></mat-slide-toggle>
            </div>
        </div>
        <div class="right-section">
            <mat-card>
                <img src="https://bilder.hemnet.se/images/itemgallery_S/c2/69/c2694b42da6968d78e3b045fc938ef8e.jpg">
            </mat-card>
            <p>Ränta per månad : {{interestMonth}}</p>
            <p>Ränteavdrag: {{interestDeductionSum }}</p>
            <p>Amortering: {{amorteringMonth}}</p>
            <p [ngClass]="{'text-danger':mortgageRate > 0.7,
            'text-good':mortgageRate < 0.7}">Belåningsgrad : {{mortgageRate | percent}}</p>
            <h2>Månadskostnad :</h2>
            <ng-container *ngIf="!downPaymentError">
                <h1 class="sumText"> {{monthTotalCost}}kr</h1>
            </ng-container>
            <ng-container *ngIf="downPaymentError">
                <ng-template *ngTemplateOutlet="costValidationTemplate"></ng-template>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #costValidationTemplate>
    <mat-error>
        För låg kontantinsats! minst {{minimumDownPayment}}kr krävs
    </mat-error>
</ng-template>